:root {
    --bg: #171512;
    --panel: #1d1a16;
    --panel-light: #242019;

    --text: #eadfc9;
    --muted: #9c9280;

    --gold: #c8892d;
    --gold-light: #dba64b;

    --red: #7d3021;

    --border: rgba(232, 223, 201, 0.14);
}

@font-face {
    font-family: Jagrat;
    src: url("fonts/HindiRaj.otf");
}
