:root {
    --bg: #171512;
    --panel: #1d1a16;
    --panel-light: #242019;

    --text: #eadfc9;
    --muted: #9c9280;

    --gold: #c8892d;
    --gold-light: #dba64b;

    --red: #7d3021;

    --border: rgba(232, 223, 201, 0.14);
}

@font-face {
    font-family: Jagrat;
    src: url("fonts/HindiRaj.otf");
}

@font-face {
    font-family: Pyri;
    src: url("fonts/pyriform-tones-nf/PyriformTonesNF.ttf");
}

body {
  font-family: "Pyri";
  width: 100%;
  height: 100%;
  background-image: url("assets/Background-proto.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #111;
}



.tab-icon {
    font-size: 16px;
    color: #d99a27;

    flex-shrink: 0;
}
